body {
    font-family: 'Mulish', sans-serif;
}

h1{
    font-size: 37pt;
    color: #04146c;
    font-weight: bold;
}

p{
    font-size: 18pt;
    color: #04146c;
}

.sin-subrayado{
    text-decoration: none;
}

@media (min-width: 768px) {
    .img-md {
      width: 80% !important;
    }
  }